# Automação Web scrapping e Busca de Informações com Python

Web scrapping, Selenium, exportar relatorios e pesquisa automatica

#### Objetivo: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.1.3-py3-none-any.whl (968 kB)
Collecting trio~=0.17
  Downloading trio-0.20.0-py3-none-any.whl (359 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\psfm5\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: attrs>=19.2.0 in c:\users\psfm5\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\psfm5\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\psfm5\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\psfm5\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\psfm5\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\psfm5\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: pycparser in c:\users\psfm5\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\psfm5\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\psfm5\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\psfm5\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\psfm5\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\psfm5\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.1.0 selenium-4.1.3 trio-0.20.0 trio-websocket-0.9.2 wsproto-1.1.0

Instalar o chromedriver para possibilitar funcionamento do selenium

#webdriver do chrome - chromedriver - varia por navegador
#Passo a passo:
- Verificar a versao do chrome em ajuda do chrome: a versão que estou usando é a 99.
- no navegador, digitar chromedriver download - selecionar versao de download chromedrive99
- download do chromedriver de acordo com seu sistema operacional
- Colocar o arquivo do chromedriver na mesma pasta onde esta instalado o python no anaconda - verificar localização abrindo prompt do anaconda (C:\Users\psfm5\anaconda3

# Executando selenium

In [62]:
from selenium import webdriver #controlar o navegador
from selenium.webdriver.common.keys import Keys #controlar o teclado
from selenium.webdriver.common.by import By #localizar itens do navegador

# Criar navegador que o selenium irá controlar
# abrir um navegador

In [63]:
navegador = webdriver.Chrome()

In [64]:
#Cotação dolar

navegador.get("https://www.google.com/")

#encontrar campo de busca e digitar busca da cotação do dolár
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação dólar')
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER) 

cotacao_dolar = navegador.find_element(By.XPATH,'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
#data-value é o atributo que quero obter - o nome do atributo está no código em "inspecionar"
print(cotacao_dolar)

5.02375

In [65]:
#Cotação euro

navegador.get("https://www.google.com/")

#encontrar campo de busca e digitar busca da cotação do euro
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação euro')
navegador.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER) 

cotacao_euro = navegador.find_element(By.XPATH,'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
#data-value é o atributo que quero obter - o nome do atributo está no código em "inspecionar"
print(cotacao_euro)

5.561542437

In [66]:
#Cotação ouro

navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = navegador.find_element(By.XPATH,'//*[@id="comercial"]').get_attribute('value')
#value é o atributo que quero obter - o nome do atributo está no código em "inspecionar"

cotacao_ouro = cotacao_ouro.replace(",", ".")
print(cotacao_ouro)

310.35

In [67]:
navegador.quit()

# informações extras:

# para rodar o chrome em 2º plano


#from selenium.webdriver.chrome.options import Options

#chrome_options = Options()

#chrome_options.headless = True

#navegador = webdriver.Chrome(options=chrome_options)


# caso queira deixar na mesma pasta do seu código

#navegador = webdriver.Chrome("chromedriver.exe")

### Agora vamos atualizar a nossa base de preços com as novas cotações

- Importando a base de dados

In [68]:
# Passo 4: Importar a lista de produtos
import pandas as pd

tabela = pd.read_excel("Produtos.xlsx")
tabela

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [69]:
#atualizar preço de compra = preço original x cotaçao

#usaando .loc (localizar)
#tabela.loc(linhas, colunas) = float(cotacao_dolar)
#linhas = a em que a moeda for dolar, ou euro, ou ouro.
#coluna = a coluna cotação
# == os dois sinais é para comparar - se fosse só =, iria criar um elemento
# != é sinal para diferente (apenas informação adicional)

tabela.loc[tabela['Moeda'] == 'Dólar', 'Cotação'] = float(cotacao_dolar)
tabela.loc[tabela['Moeda'] == 'Euro', 'Cotação'] = float(cotacao_euro)
tabela.loc[tabela['Moeda'] == 'Ouro', 'Cotação'] = float(cotacao_ouro)


tabela

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.023750,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.561542,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.023750,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.023750,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.561542,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.023750,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,310.350000,7000.00,1.15,8050.000

In [70]:
#atualizar preço de compra

tabela['Preço de Compra'] = tabela['Preço Original'] * tabela['Cotação']

#atualizar preço de venda

tabela['Preço de Venda'] = tabela['Preço de Compra'] * tabela['Margem']

tabela

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.023750,5023.699762,1.40,7033.179667
1,Carro Renault,4500.00,Euro,5.561542,25026.940966,2.00,50053.881933
2,Notebook Dell,899.99,Dólar,5.023750,4521.324762,1.70,7686.252096
3,IPhone,799.00,Dólar,5.023750,4013.976250,1.70,6823.759625
4,Carro Fiat,3000.00,Euro,5.561542,16684.627311,1.90,31700.791891
5,Celular Xiaomi,480.48,Dólar,5.023750,2413.811400,2.00,4827.622800
6,Joia 20g,20.00,Ouro,310.350000,6207.000000,1.15,7138.050000

In [71]:
#formatar para duas casas decimais e separação de milhar

tabela["Preço de Compra"] = tabela["Preço de Compra"].map("R${:,.2f}".format)
tabela["Preço de Venda"] = tabela["Preço de Venda"].map("R${:,.2f}".format)
tabela["Cotação"] = tabela["Cotação"].map("R${:,.2f}".format)

tabela

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,R$5.02,"R$5,023.70",1.40,"R$7,033.18"
1,Carro Renault,4500.00,Euro,R$5.56,"R$25,026.94",2.00,"R$50,053.88"
2,Notebook Dell,899.99,Dólar,R$5.02,"R$4,521.32",1.70,"R$7,686.25"
3,IPhone,799.00,Dólar,R$5.02,"R$4,013.98",1.70,"R$6,823.76"
4,Carro Fiat,3000.00,Euro,R$5.56,"R$16,684.63",1.90,"R$31,700.79"
5,Celular Xiaomi,480.48,Dólar,R$5.02,"R$2,413.81",2.00,"R$4,827.62"
6,Joia 20g,20.00,Ouro,R$310.35,"R$6,207.00",1.15,"R$7,138.05"

### Agora vamos exportar a nova base de preços atualizada para um arquivo xlsx

In [72]:
#Salvar os novos preços dos produtos atualizados - não colocar indice de linha no arquivo

tabela.to_excel("ProdutosNovo.xlsx", index=False)

In [73]:
tabelanova = pd.read_excel("ProdutosNovo.xlsx")
tabelanova

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,R$5.02,"R$5,023.70",1.40,"R$7,033.18"
1,Carro Renault,4500.00,Euro,R$5.56,"R$25,026.94",2.00,"R$50,053.88"
2,Notebook Dell,899.99,Dólar,R$5.02,"R$4,521.32",1.70,"R$7,686.25"
3,IPhone,799.00,Dólar,R$5.02,"R$4,013.98",1.70,"R$6,823.76"
4,Carro Fiat,3000.00,Euro,R$5.56,"R$16,684.63",1.90,"R$31,700.79"
5,Celular Xiaomi,480.48,Dólar,R$5.02,"R$2,413.81",2.00,"R$4,827.62"
6,Joia 20g,20.00,Ouro,R$310.35,"R$6,207.00",1.15,"R$7,138.05"